<header>
  <nav
    class="navbar navbar-expand-lg navbar-light"
    style="font-weight: 700; background-color: rgb(235, 238, 37); "
  >
    <a class="navbar-brand" href="/admin">Admin Panel</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/admin/products">All products
            <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">All orders</a>
        </li>
        {{! <li class="nav-item ">
        <a class="nav-link" href="/admin/All-users">All users</a> }}
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Users
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/admin/add-users">Add Users</a></li>
            <li><a class="dropdown-item" href="/admin/All-users">View Users</a></li>
          </ul>
        </li>
      </ul>
    </div>

               <form action="/admin/adminlogout" class="inline">
           <button class="btn btn-danger submit-button" >Logout</button>
         </form>

  </nav>
</header>